<mat-toolbar *ngIf="router.url !== '/welcome'">
  <a routerLink="/movies" mat-icon-button color="primary" aria-label="movies icon">
    <mat-icon><span class="material-symbols-outlined">
      theaters
      </span></mat-icon>
  </a>
  <span>myFlix</span>
  <span class="example-spacer" style="flex: 1 1 auto;"></span>
  <a routerLink="/profile" mat-flat-button color="accent">Profile</a>
  <button mat-flat-button style="margin-left: 10px;" (click)="logout()">Log out</button>

</mat-toolbar>
<router-outlet></router-outlet>